# Datan analysointi K2021 - Tehtävät kerta 2

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus annettu kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

## 1. Kunnat

Tee funktio kunnat(url), joka tekee seuraavaa:
* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
* kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,
* tulostaa lopputulokseen viisi ensimmäistä riviä.

Tehtävän url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv

Esimerkiksi kunnat(url) tulostaa:

| |maakunta |      	kunta  			|Väkiluku|
|:---|:---|:---|:---|
|22       	|Keski-Pohjanmaa|      	Halsua      	|1165    |
|75       	|Keski-Pohjanmaa|      	Kannus      	|5502    |
|84       	|Keski-Pohjanmaa|   	Kaustinen      	|4273    |
|136      	|Keski-Pohjanmaa|  		Lestijärvi      |737     |
|191      	|Keski-Pohjanmaa|       Perho      		|2825    |

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [ ]:
def kunnat(url):
    # Kirjoita vastauksesi tähän alle:
    
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)

# Palautuksesi päättyy tähän.
# Voit lopuksi testata tekemääsi funktiota:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
kunnat(url)

In [33]:
import pandas as pd

def kunnat(url):
    # Kirjoita vastauksesi tähän alle:
    #lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
    df = pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv", sep=";", decimal=",")
    #print(df.head())
    
    #kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
    df_copy=(df[df['maakunta'].isin(['Uusimaa', 'Keski-Suomi', 'Keski-Pohjanmaa']) & (df['Väkiluku']<10000)]).copy()
    #print(df_copy.head())
    
    #kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,
    df_alphabetical=df_copy.sort_values(["maakunta", "kunta"], ascending = (True)).copy()
    #print(df_alphabetical.head())
    
    uusi_dataframe = df_alphabetical[['maakunta', 'kunta', 'Väkiluku']].copy()
    tulos=uusi_dataframe.head(5)
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)

# Palautuksesi päättyy tähän.
# Voit lopuksi testata tekemääsi funktiota:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
kunnat(url)

            maakunta       kunta  Väkiluku
22   Keski-Pohjanmaa      Halsua      1165
75   Keski-Pohjanmaa      Kannus      5502
84   Keski-Pohjanmaa   Kaustinen      4273
136  Keski-Pohjanmaa  Lestijärvi       737
191  Keski-Pohjanmaa       Perho      2825

## 2. Sähkön hintatietojen luokittelua

Tee funktio sahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
* tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
* tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, sahko(url) tulostaa:** \
(12.06, 21.256]     21 \
(21.256, 30.452]    85 \
(30.452, 39.648]    78 \
(39.648, 48.844]    22 \
(48.844, 58.04]     28 \
Name: hintaluokka, dtype: int64

In [ ]:
def sahko(url):
    
    # Kirjoita vastauksesi tähän:
    
    # Vastauksesi tulostetaan
    print(tulos)
# Palautuksesi päättyy tähän.


url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

In [101]:
#https://stackoverflow.com/questions/16947336/binning-a-dataframe-in-pandas-in-python

import pandas as pd
import numpy as np
def sahko(url):
    
    # Kirjoita vastauksesi tähän:
    #Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
    df = pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv", sep=",", decimal=",")
    #print(df.head())
    #jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
    
    #columns=['Year Total €/MWh', 'December €/MWh']
    columns=df.iloc[:, 2:15]
    for col in columns:
        df[col]=np.where(df[col].isin(['.']), np.nan, df[col])
    #print(df.head(5))
    
    #tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
    df["Year Total €/MWh"] = pd.to_numeric(df["Year Total €/MWh"])
    min_value=df["Year Total €/MWh"].min()
    print(min_value)
    
    max_value=df["Year Total €/MWh"].max()
    print(max_value)
    
    bins=np.linspace(min_value, max_value, 5)
    #print(bins)
    
    df['hintaluokka'] =  pd.cut(df['Year Total €/MWh'], bins)
    print(df.head())
    
    #tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
    df["hintaluokka"] = pd.to_numeric(df["Year Total €/MWh"])
    valuecounts=df['hintaluokka'].value_counts(bins=5, sort=False)
    print(valuecounts)
    

    
    #tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa
    
    
    # Vastauksesi tulostetaan
    print(tulos)
# Palautuksesi päättyy tähän.


url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

12.06
58.04
  Price area  Year  Year Total €/MWh January €/MWh February €/MWh March €/MWh  \
0     System  1997               NaN           NaN            NaN         NaN
1     System  1998               NaN         20.01          17.92       15.93
2     System  1999             13.46         15.95          14.68       12.38
3     System  2000             12.75         16.22          12.89       11.78
4     System  2001             23.15         20.46          27.06       25.86

  April €/MWh May €/MWh June €/MWh July €/MWh August €/MWh September €/MWh  \
0         NaN       NaN        NaN        NaN          NaN             NaN
1       14.92     13.10      14.29       8.25         6.42            9.28
2       10.56     11.31      10.02       8.33        13.33           16.09
3       12.80      9.51      10.44       6.35         9.79           14.18
4       26.46     24.07      25.28      22.63        21.36           20.88

  October €/MWh November €/MWh December €/MWh      hintaluokka
0           NaN            NaN            NaN              NaN
1         12.23          16.50          16.97              NaN
2         16.23          15.35          17.35  (12.06, 23.555]
3         15.43          16.78          16.92  (12.06, 23.555]
4         19.10          21.41          23.61  (12.06, 23.555]
(12.013, 21.256]    24
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

NameError: name 'tulos' is not defined

In [138]:
#https://stackoverflow.com/questions/16947336/binning-a-dataframe-in-pandas-in-python

import pandas as pd
import numpy as np
def sahko(url):
    
    # Kirjoita vastauksesi tähän:
    #Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
    df = pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv", sep=",", decimal=",")
    #print(df.head())
    #jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
    
    #columns=['Year Total €/MWh', 'December €/MWh']
    columns=df.iloc[:, 2:15]
    for col in columns:
        df[col]=np.where(df[col].isin(['.']), np.nan, df[col])
    #print(df.head(5))
    
    #tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
    df["Year Total €/MWh"] = pd.to_numeric(df["Year Total €/MWh"])
    bins = np.linspace(df['Year Total €/MWh'].min(), df['Year Total €/MWh'].max(), 6)
    print(bins)
    #groups = df.groupby(np.digitize(df['Year Total €/MWh'], bins))
    groups = df.groupby(pd.cut(df['Year Total €/MWh'], bins))
    df['hintaluokka'] =  pd.cut(df['Year Total €/MWh'], bins)
    #print(df.head())
    
    #tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
    

    tulos=df['hintaluokka'].value_counts(sort=False)
    
    
 
    
    #tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa
    
    
    # Vastauksesi tulostetaan
    print(tulos)
# Palautuksesi päättyy tähän.


url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

[12.06  21.256 30.452 39.648 48.844 58.04 ]
(12.06, 21.256]     21
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

## 3. Sähkön hintatietojen luokittelua (2)

Tee funktio suomisahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,
* kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland',
* laskee **koko vuoden** sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh'),
* laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
* laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
* tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.


Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, suomisahko(url) tulostaa:**

|  |Year|  Below average price|  Above average price|
|:---|:---|:---|:---|
|145|  1998|                    5|                    7|
|146|  1999|                    5|                    7|
|147|  2000|                    7|                    5|
|148|  2001|                    7|                    5|
|149|  2002|                    9|                    3|
|150|  2003|                    9|                    3|
|151|  2004|                    7|                    5|
|152|  2005|                    5|                    7|
|153|  2006|                    6|                    6|
|154|  2007|                    7|                    5|

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [ ]:
# Palautuksesi alkaa tästä
def suomisahko(url):
    
    # Kirjoita vastauksesi tähän:
    
    # ...
    
    # Vastauksesi tulostetaan
    print(tulos)

# Palautuksesi päättyy tähän.
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"
# Voit kokeilla funktiotasi seuraavasti:
suomisahko(url)

In [2]:
import pandas as pd
import numpy as np
# Palautuksesi alkaa tästä
def suomisahko(url):
    
    # Kirjoita vastauksesi tähän:
    
    #Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
    df = pd.read_csv(url, sep=",", decimal=",")
    #print(df.head())
    
    
    #jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
    columns=df.iloc[:, 2:15]
    for col in columns:
        df[col]=np.where(df[col].isin(['.']), np.nan, df[col])
    #print(df.head(5))
        
    
    #muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,
    
    for i in df.columns[2:15]:
        #print(i)
        df[i]=df[i].astype(float)

    #print(df.dtypes)
    
    #kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland',
    #print(df.columns)

    #Finland=(df.loc[df['Price area'] == 'Finland'])
    Finland=(df.loc[df['Price area'] == 'Finland']).copy()
    #print(Finland)
    
    #laskee koko vuoden sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh'),
    Januarydecember=Finland.iloc[:, 3:15]
    
    #for i in Finland.columns[3:15]:
     #   print(i)
      #  Finland['Average €/MWh'] = Finland[[i]].mean(axis=1)
    
    #print(January_December)
    Finland['Average €/MWh'] = Januarydecember.mean(axis=1)
    #print(Finland)
    
    #laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon
    Finland["Below average price"]=Finland.apply(lambda x: (x[3:15]<x[15]).sum(), axis=1)
    
    #laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
    Finland["Above average price"]=Finland.apply(lambda x: (x[3:15]>x[15]).sum(), axis=1)
   
    
    #tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.
    Finland["sums"]=Finland.apply(lambda x: (x[16] + x[17]), axis=1)
    
    new_df = Finland[['Year', 'Below average price', 'Above average price', 'sums']].copy()
    
    rslt_df = new_df[new_df['sums'] == 12]  
    #print(rslt_df)
    
    tulos1=rslt_df.drop('sums', axis=1)
    #print(tulos1)
    
    tulos=tulos1.head(10)
    
    # Vastauksesi tulostetaan
    print(tulos)

# Palautuksesi päättyy tähän.
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"
# Voit kokeilla funktiotasi seuraavasti:
suomisahko(url)

     Year  Below average price  Above average price
145  1998                    5                    7
146  1999                    5                    7
147  2000                    7                    5
148  2001                    7                    5
149  2002                    9                    3
150  2003                    9                    3
151  2004                    7                    5
152  2005                    5                    7
153  2006                    6                    6
154  2007                    7                    5

## 4. Henkilötietojen muodostamista merkkijonoista

Tee funktio **mail(url)**, joka tekee seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A),
* tulostaa viisi ensimmäistä riviä.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| |sukunimi |                      email|
|:---|:---|:---|
|29  |    Zovko  |         nina.zovko@azo.hr|
|173  |  Yotova  |iyotova@moew.government.bg|
|73   |  Vitola   |    evita.vitola@lvgmc.lv|
|213  |Virgovič   |radoslav.virgovic@sazp.sk|
|268  |Virgovic   |radoslav.virgovic@sazp.sk|

In [ ]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)
# Palautuksesi päättyy tähän.    

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

In [99]:
import pandas as pd
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    # lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),

    df = pd.read_csv(url, engine="python", encoding="utf-8-sig", sep="\\t")
    #print(df.tail(50))
    
    #tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
    #df['len']=df.NameOfContactPerson.apply(lambda x: len(x.split()))
    
    def get_name(name):
        last_name=''
        splits=name.split(" ", 3)
        if len(splits)==1:
            last_name=splits[0]
        elif len(splits)==2:
            last_name=splits[1]
        elif len(splits)==3:
            last_name=splits[2]
        elif len(splits)==4:
            last_name=splits[3]
        return last_name
    
    df["NameOfContactPerson"]=df.NameOfContactPerson.apply(get_name)
    #print(df.head(50))
    
    new_df = df[["NameOfContactPerson",'EMail"']].copy()
    #print(new_df.head(50))
    new_df['EMail"'] = new_df['EMail"'].str.replace('"','', regex=True)
    
    
    #poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
    #new_df=new_df.groupby((new_df["NameOfContactPerson"] != new_df["NameOfContactPerson"].shift()).cumsum().values).first()
    new_df = new_df.drop_duplicates(subset=["NameOfContactPerson"], keep='first')
    
    #järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A),
    new_df=new_df.sort_values('NameOfContactPerson', ascending=False)
    new_df.columns = ['sukunimi', 'email']
    tulos=new_df.head(5)
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)
# Palautuksesi päättyy tähän.    

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

     sukunimi                       email
29      Zovko           nina.zovko@azo.hr
173    Yotova  iyotova@moew.government.bg
73     Vitola       evita.vitola@lvgmc.lv
213  Virgovič   radoslav.virgovic@sazp.sk
268  Virgovic   radoslav.virgovic@sazp.sk

## 5. Henkilötietojen muodostamista merkkijonoista (2)

Tee funktio **mail(url)**, joka tekee **järjestyksessä** seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot,
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä,
* tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on sähköpostiosoitteen domainin loppuosa (esim. **fi**),
* poistaa sarakkeesta 'domainend' tyhjät merkkijonot,
* järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö),
* tulostaa DataFramesta viisi ensimmäistä riviä sarakkeista 'surname' ja 'domainend'.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| | surname| domainend|
|:---|:---|:---|
|327|  Al-Hanbali|        se|
|163|   Alexandru|        ro|
|287|  Berzinskas|        lt|
|330|     Brennan|        uk|
|257|      Cassar|        mt|

In [85]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    
    print(tulos)

# Palautuksesi päättyy tähän.

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

NameError: name 'tulos' is not defined

In [97]:
import pandas as pd
import numpy as np
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    #lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
    df = pd.read_csv(url, engine="python", encoding="utf-8-sig", sep="\\t")
    #print(df.head())
    
    #poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
    df = df.drop_duplicates(subset=["NameOfContactPerson"], keep='first')
    
    #print(df.head(55))
    #poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot,
    df['NameOfContactPerson'] = df['NameOfContactPerson'].str.replace(r"(\s*\(.*?\)\s*)", " ").str.strip()
    
    #print(df.head(50))
    s
    #tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
    def get_name(name):
        last_name=''
        splits=name.split(" ", 3)
        if len(splits)==1:
            last_name=splits[0]
        elif len(splits)==2:
            last_name=splits[1]
        elif len(splits)==3:
            last_name=splits[2]
        elif len(splits)==4:
            last_name=splits[3]
        return last_name
    
    df["NameOfContactPerson"]=df.NameOfContactPerson.apply(get_name)
    #print(df.tail(60))
    
    #print(df.head(20))
    new_df = df[["NameOfContactPerson",'EMail"']].copy()
    #print(new_df.head(50))
    
    
    #tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä,
    new_df=new_df[~new_df['NameOfContactPerson'].str.contains(r'[0-9]')]
    #print(new_df.tail(60))
    
    new_df.columns = ['surname', 'EMail"']
    #print(new_df.tail(60))
    
    #tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on sähköpostiosoitteen domainin loppuosa (esim. fi),
    #print(df.head(50))
    new_df['EMail"'] = new_df['EMail"'].str.replace('"','', regex=True)
    
    new_df['domainend'] =new_df['EMail"'].apply(lambda x: x.split('.')[-1])
    
    
    #poistaa sarakkeesta 'domainend' tyhjät merkkijonot,
    nan_value = float("NaN")
    new_df.replace("", nan_value, inplace=True)
    new_df.dropna(subset = ["domainend"], inplace=True)
    #print(new_df.head(50))
    
    #järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö)
    new_df=new_df.sort_values('surname', ascending=True)
    
    #print(new_df.head(50))
    new_df = new_df.drop('EMail"', axis=1)
    tulos=(new_df.head(5))
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    
    print(tulos)

# Palautuksesi päättyy tähän.

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

        surname domainend
327  Al-Hanbali        se
163   Alexandru        ro
287  Berzinskas        lt
330     Brennan        uk
257      Cassar        mt